{% load static %}
<!DOCTYPE HTML>
<!--
    Polymorph by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>
    <head>
        <title>Interview Assignment by Ryli Dunlap</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static "assignment/assets/css/main.css" %}" />
    </head>
    <body class="is-preload">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Header -->
                    <header id="header">

                        <!-- Logo -->
                            <div class="logo">
                                <span class="title"><strong>Interview Assignment</strong> <span class="extra">by Ryli Dunlap</span></span>
                            </div>

                        <!-- Nav -->
                            <nav id="nav">
                                <ul>
                                    <li><a href="http://transvec.com">My Site</a></li>
                                    <li><a href="https://github.com/rylito">My GitHub</a></li>
                                    <li><a href="http://transvec.com/portfolio">Portfolio</a></li>
                                    <li><a href="http://transvec.com/resume">Resume</a></li>
                                </ul>
                            </nav>

                    </header>

                <!-- Main -->
                    <div id="main">

                        <!-- Content -->
                            <section class="main">
                                <div class="inner">


                                    <header class="major">
                                        <h2>Interview Assignment Solution by Ryli Dunlap</h2>
                                    </header>


                                    <p>
                                        This is the project I made as a solution to the interview assignment. It is a deployed Django site using postgreSQL.
                                        A management command script I wrote for this project populates the database tables from the .csv files provided for the exercise.
                                    </p>
                                    <p>
                                        The queries live in the views.py file of the 'assignment' app and use Django's ORM to fetch results for most of the report items.
                                        The views are exposed as an api using Django Rest Framework. JavaScript is used to fetch the data from these REST endpoints via
                                        AJAX requests when the page loads and update the DOM with the results.
                                    </p>
                                    <p>
                                        Note: This site only shows the raw SQL generated by the ORM along with execution time information.
                                        The actual Python/Django queries are contained in the assignment source. The source files of particular interest are:
                                        <ul>
                                        <li><b>assignment/views.py</b> (contains the Python/Django ORM queries as Django Rest Framework API views)</li>
                                        <li><b>assignment/models.py</b> (contains the Django models that define the database schema)</li>
                                        <li><b>assignment/management/commands/import_csv_data.py</b> (a custom management command that populates the app tables from the provided CSV files)</li>
                                        <li><b>assignment/static/assignment/assets/js/report.py</b> (the JavaScript that fetches the report data and renders it to the DOM)</li>
                                        </ul>
                                    </p>


                                <div id="report_items"></div>

                                </div>
                            </section>


                    </div>


            </div>

        <!-- Scripts -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="{% static "assignment/assets/js/jquery.min.js" %}"></script>
            <script src="{% static "assignment/assets/js/jquery.dropotron.min.js" %}"></script>
            <script src="{% static "assignment/assets/js/browser.min.js" %}"></script>
            <script src="{% static "assignment/assets/js/breakpoints.min.js" %}"></script>
            <script src="{% static "assignment/assets/js/util.js" %}"></script>
            <script src="{% static "assignment/assets/js/main.js" %}"></script>
            <script src="{% static "assignment/assets/js/tag_helper.js" %}"></script>
            <script src="{% static "assignment/assets/js/report.js" %}"></script>
            <script>

$(function(){
    let config = [
        {
            'url': '{% url 'tracer_assignment:total_spent_purple_hair' %}',
            'title': 'What was the total spent against people with purple hair?',
            'descrip': '',
            'is_money': true
        },
        {
            'url': '{% url 'tracer_assignment:campaigns_spent_more_4_days' %}',
            'title': 'How many campaigns spent on more than 4 days?',
            'descrip': "Days with a value of '0' for spend are not counted"
        },
        {
            'url': '{% url 'tracer_assignment:source_h_reported_clicks' %}',
            'title': 'How many times did source H report on clicks?',
            'descrip': "I wasn't sure whether to count '0' as a reported value or not, so here I demonstrate 2 differing values: one that considers the reporting of 0 significant and the other which disregards (i.e. doesn't count) 0 values."
        },
        {
            'url': '{% url 'tracer_assignment:sources_more_junk_than_noise' %}',
            'title': 'Which sources reported more "junk" than "noise"?',
            'descrip': 'This query also differs depending on whether or not 0 values are counted as reported, or disregarded. Both approaches are demonstrated'
        },
        {
            'url': '{% url 'tracer_assignment:total_cost_per_view_for_video' %}',
            'title': 'What was the total cost per view for all video ads, truncated to two decimal places?',
            'descrip': '',
            'is_money': true
        },
        {
            'url': '{% url 'tracer_assignment:source_b_conversions_ny' %}',
            'title': 'How many source B conversions were there for campaigns targeting NY?',
            'descrip': ''
        },
        {
            'url': '{% url 'tracer_assignment:combination_state_hair_color_best_cpm' %}',
            'title': 'What combination of state and hair color had the best CPM?',
            'descrip': 'I spent quite a while trying to figure out how to do this in the ORM using various approaches utilizing Subqueries and the new Window annotations in Django 2.0. My goal was to try to figure out how to do this in 1 DB query using the ORM syntax. However, I had to abandon that endeavor due to time constraints and I just ended up using raw SQL to accomplish this in 1 query rather than the ORM. This is the only report item that uses manually-coded raw SQL'
        },
    ]

    let report = new Report('report_items',config)
})
            </script>

    </body>
</html>
